{% extends 'dashboard/base_mshrif.html' %}
{% load i18n %}
{% block title %}{% trans "حسابي" %}{% endblock %}
{% block content %}
<div class="page-title">{% trans "حسابي" %}</div>
<div class="page-subtitle">{% blocktrans with email=request.user.email %}البريد الحالي: {{ email }}{% endblocktrans %}</div>

<div class="row g-4">
    <div class="col-md-6">
        {% include 'dashboard/_carte_changer_email.html' with couleur_label='var(--color-role-mshrif-solid)' couleur_bouton='var(--color-role-mshrif)' id_prefix='id_mmc' %}
    </div>

    <div class="col-md-6">
        {% include 'dashboard/_carte_changer_mot_de_passe.html' with couleur_label='var(--color-role-mshrif-solid)' couleur_bouton='var(--color-role-mshrif)' id_prefix='id_mmc' %}
    </div>
</div>
{% endblock %}
